@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

@media(min-width:768px) {
header{
position: absolute;
z-index: 10;
right: 4em;
}
}


h1 {
  font-size: 6em;
  color: black;
 }

h2 {
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 2.5em;
}

h3 {
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 2.2em;
}

h4 {
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 1.8em;
}

h5 {
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 1.5em;
}

h6 {
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 1.5em;
}

@media(max-width:576px) {
  /*To Scale Text*/
  html {
    font-size: 10px;
  }
}

#landing {
  border: 2pt solid #DDD;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 2em auto;
  padding: 4em;  
}

.btn {
  width: 80%;
  margin: auto;
  background: transparent;
  font-family: 'Delius Unicase', cursive;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: black;
  font-size: 1em ;
  padding: 5px 10px 5px 10px;
  border: solid #DDD 1px;
  text-decoration: none;
}

.btn:hover {
  position: relative;
  top: -1px;
  -webkit-box-shadow: 0px -1px 4px #666666;
  -moz-box-shadow: 0px -1px 4px #666666;
  box-shadow: 0px -1px 4px #666666;
}

.btn:active {
  top: 0px;
  -webkit-box-shadow: 0px -1px 2px #666666;
  -moz-box-shadow: 0px -1px 2px #666666;
  box-shadow: 0px -1px 2px #666666;
}

.link:hover {
  cursor: pointer;
  position: relative;
  top: -1px;
  text-shadow: 0px -1px 1px #666666;
  text-decoration: none;
}

.link:active {
  position: relative;
  top: 0px;
  text-shadow: 0px 1px 2px #666666;
  text-decoration: none;
}


div.container-fluid{
  margin: 0;
  padding: 0;
}
