<div class="container-fluid">
  <header>
    <h1 routerLink="Home">
      {{title}}
    </h1>
  </header>
  <app-navbar></app-navbar>
  <!--IF not logged on-->
  <div *ngIf="entry && !authService.loggedIn()" id="landing" class="container">
    <h5>Welcome to TabTastic!</h5>

    <p class="text-center">
      This is a Guitar Tab Sharing Site!<br>
      View public tabs in chord pro format.<br>
      Sign In To: Create Tabs (including Private Tabs)
    </p>
    <!--Router Link to PARENT-->
    <h6>
      <p class="link" (click)=authService.signUp() >Sign Up</p>
    </h6>
    <h6>
      <p class="link" (click)=authService.login() >I have an account</p>
    </h6>
    <button class="btn btn-block" (click)='closeLanding()'>Continue Browsing Public Tabs</button>
  </div>
  <router-outlet></router-outlet>
</div>
