
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

h3{
    font-family: 'Source Sans Pro', sans-serif;
}


h3.main {
  text-align: center;
  margin-top: 2em;
  border: 2pt solid #DDD;
  border-radius: 5px;
  padding: 0.5em;
}


p{
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

h5{
    font-family: 'Source Sans Pro', sans-serif;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
}

h4{
    font-family: 'Source Sans Pro', sans-serif;
}

h6{
    font-family: 'Source Sans Pro', sans-serif;
}


td{
    font-family: 'Source Sans Pro', sans-serif;
}

th{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    cursor: pointer;
}

span.chord{
position: absolute;
font-weight: bolder;
}


p.lyrics{
    line-height: 50px;
  display: inline;
}


@media screen and (min-width: 760px) {
    
    p.lyrics{
    line-height: 50px;
  display: inline;
  font-size: 1.4em;
  letter-spacing: 2px;
}
    
}