<h2>Welcome to TabTastic!</h2>
<h4>Please Create An Account...</h4>

<div class="container"> 
  <div class="form-group">
    <label for="InputUsername">Username</label>
    <input  type="text" class="form-control" id="InputUsername" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="InputPassword1">Password</label>
    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
  </div>

  <button (click)="createAccount()" name="Create Account" class="btn btn-default">Create Account</button>
</div>

<a>Browse Public Tabs</a>

<h5>Already a member?</h5>

<a routerLink='SignIn'>Log In</a>
