.form-group{
    width:100%;
}

.checkbox{
    width:100%;
    text-align:center;
}

button{

margin-top: 1em;
margin-bottom: 1em;

}

label{
    margin-top: 0.5em;
}

#confirm div {

    text-align: center;
    border: 2pt solid #DDD;
    border-radius: 5px;

}

#confirm p{

    border: 2pt solid #DDD;
    border-radius: 5px;

}