<div class="container">


<div *ngIf="complete == 'added'">

  <h3 class="main">Your Tab has successfully been added!</h3>
  
  <h4>
  Add another tab:
</h4>

</div>

<div *ngIf="complete == 'error'">

  <h3 class="main">Error Addding Tab!</h3>
  
  <h4>
  Please Try Again:
</h4>


</div>

<div *ngIf="complete == 'welcome'">

  
  <h3 class="main">
  Add a tab:
</h3>


</div>


 <button *ngIf="tabEntry == null" class="btn btn-block btn-primary btn-lg" (click)="clearForm()"> Clear</button>

<form accept-charset="UTF-8" [formGroup]="tabForm" (ngSubmit)="addTabSubmit($event)" *ngIf="tabEntry == null" class="form-horizontal">



    <label for="song">Song Name:</label>
  
      <input formControlName="song" type="text" class="form-control" id="song" placeholder="Song...">



    <label  for="artist">Artist Name:</label>

      <input formControlName="artist" type="text" class="form-control" id="artist" placeholder="Artist...">



    <label for="desc">Tab Description:</label>
  
      <input formControlName="desc" type="text" class="form-control" id="desc" placeholder="Description...">
 

<div class="checkbox">
  <label><input formControlName="private" type="checkbox" value="isPrivate">Private</label>
</div>


  <label for="tab">Enter Tab:</label>
  <textarea formControlName="tab" class="form-control" rows="20" id="tab"></textarea>



  
      <button class="btn btn-block btn-success btn-lg">Submit</button>


</form>

<div id="confirm" *ngIf="tabEntry != null" >
  
<h2>Please Confirm The Tab</h2>

<div>
<h3>

Song Name: {{tabEntry.song}}

</h3>

<h3>

Artist Name: {{tabEntry.artist}}

</h3>

<h3>

Tab Description: {{tabEntry.desc}}

</h3>
</div>

<p>

{{tabEntry.tab}}

</p>

<button name="change" class="btn btn-lg btn-block btn-danger" (click) = "changeAddTab()">Change Something</button>
<br>
<button name="confirm" class="btn btn-lg btn-block btn-success" (click) = "confirmAddTab()">Confirm</button>


</div>

















</div>