<nav class="navbar navbar-default">
  <div class="container-fluid navbar-inner">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mainnav">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a routerLink='Home'>Home <span class="sr-only">(current)</span></a></li>
        <li [routerLinkActive]="['active']"><a routerLink='TabView'>Tab Viewer</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a routerLink='AddTab'>Add Tab</a></li>
        <!--<li [routerLinkActive]="['active']"><a routerLink='SignIn'>Sign In</a></li>
        <li [routerLinkActive]="['active']"><a routerLink='SignUp'>Sign Up</a></li>-->

        <li *ngIf="!authService.loggedIn()">
            <!-- We'll show the login link if the user is not currently logged in -->
            <a (click)=authService.login() >Log In</a>
          </li>

          <li *ngIf="!authService.loggedIn()">
            <!-- We'll show the login link if the user is not currently logged in -->
            <a (click)=authService.signUp() >Sign Up</a>
          </li>


          <li *ngIf="authService.loggedIn()">
            <!-- On the other hand, if the user is logged in, we'll show a log out link -->
            <a (click)=authService.logout() >Log Out</a>
          </li>
          <li [routerLinkActive]="['active']" *ngIf="authService.loggedIn()">
           <a routerLink="UserWelcome">@{{authService.nickname}}</a> 
          </li>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
