/* Custom --------------------------------------------------------------------------------------------------------------*/

@media(min-width:768px) {
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: black;
  }


  /* link */
  .navbar-default .navbar-nav>li>a {
    color: black;
    text-decoration: none;
    text-shadow: none;
    font-size: 1.2em;
    text-align: center;
  }

 /* link */
  .navbar-default .navbar-nav>li>a:hover {
    color: black;
    background-color: white;
    
  }

  .navbar-default .navbar-nav>li.active>a{
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li{
    width: 10em;
  }


  .navbar {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 14em;
    background-color: #006A92;
    background: url("../assets/img/bbanner.jpg") no-repeat;
    background-size: 100% 14em;
    text-align: right;
  }
  #mainnav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media(max-width:768px) {
  .navbar {
    background-color: #006A92;
  }
}
